.container{
    margin-bottom: 100px;
}
.logo{
    width: 200px;
}
.navbar .h1{
    font-size: small;
    font-weight: 700;
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}
.color-me{
    color: rgb(17, 17, 17);
    margin-right: 50px;
}
.button{
    color: white;
    background-color: #21B573;
    border-radius: 20px;
    padding: 12px 28px;
    text-align: center;
    border: none;
    
}
.button:hover{
    color: rgb(243, 124, 124);
    background-color: #88e9bd;
}
.are-you-ready{
    font-size: 20px;
    color: #FD511A;
    margin-bottom: 30px;
}
.learn-fun{
    font-weight: 700;
}
.green-highlight{
    color: #21B573;
    margin-bottom: 130px;
}
.paragraph-one{
    color: lightgray;
}
.first-bg{
    background-color: #F0FFF0;
    height: 600px;
}
.row{
    margin-top: 50px;
    margin-left: 7%;
    
    
}
.col-md-three{
    padding: 10px;
    border: none;
    box-shadow: 5px 5px 5px lightgray;
    background-color: #F8FFFB;
    border-radius: 10px;
    margin: 5px;
    width: 270px;
    cursor: pointer;
    padding-top: 30px;
}
.col-md-three:hover{
    background-color: white;

}
.col-md-3 img{
    width: 66px;
    height: 85px;
}
.col-md-3 h3{
    font-size: 20px;
}
.col-md-3 p{
    color: lightgray;
}
.online-courses{
    font-weight: 700;
}
.img-cal{
    width: 20px;
    height: 18px;
    position: relative;
    left: 30px;
}
.date-cal{
    font-size: 16px;
    padding-top: 6px;
}
.img-people{
    width: 20px;
    height: 20px;
    position: relative;
    left: 30px;
}
.people-count{
    font-size: 16px;
    margin-left: 1px;
    padding-top: 8px;
}
.last-card-line{
    margin-top: 20px;
    cursor: pointer;
}
.card{
    padding: 10px;
    margin: 20px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 25px;
}
.thirty-width{
    width: 30%;
    float: right;
}
.thirty-width img{
    height: 150px;
    float: right;
}
.seventy-width p{
    padding: 20px;
    font-weight: 600;
}
.last-part{
    background-color: #282531;
    height: 500px;
    width: 100%;
    padding: 20px;
}
.last-para{
    width: 130px;
    padding-left: 20px;
}
.last-part h3{
    color: white;
    padding-left: 20px;
}
footer p{
    text-align: center;
    font-size: 10px;
    color: white;
    padding-top: 200px;
}